
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                              /* header */

#header{
  background-image: url(food1.jpg);
  color: white;
}

.insideheader{
  background: rgba(0, 0, 0, 0.85);

}

.navbar-brand{
  position: absolute;
  left:50%;
  /* top:20px; */
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                              /* about */

  #about{
          background-color: black;
          color:white;
          }

.header-box{
  margin:160px 0;

}

.aboutimg{
  text-align: right;
  width: 400px;
  height: 400px;
  margin-left: 250px;
  margin-top: 80px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                              /* gallery */

#gallery{
  background-color: black;
  text-align: center;
}

.galrow{
  /* margin: 20px 0; */
  padding-bottom: 60px;
}

.x{
  height: 300px;
  width: 300px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                              /* description */

#description{
              text-align: center;
              background-image: url(image3.jpg);
              color: white;
              }

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                               /* menu */

#menu{

    background-color: black;
    color: white;
      }

.card-body{
      color: #feb72b;
              }


/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                              /* tag */

#tag{
  background-color: #feb72b;
  color:white;

}

.tagimg{

  position:absolute;


/* top:280px; */

}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

                                              /* footer */

#foot{
  text-align: center;
  background-color: #393e46;
  color: white;
}



.footer-logo{

  background-size: 40px 60px;
  background-color: white;
  color:black;
  border-radius: 100%;
  padding: 10px;

}
